.shade-text span.sedes span.word.t39 { color: hsl(0, 0%, 0%); }
.shade-text span.sedes span.word.t40 { color: hsl(0, 0%, 14%); }
.shade-text span.sedes span.word.t41 { color: hsl(0, 0%, 22%); }
.shade-text span.sedes span.word.t42 { color: hsl(0, 0%, 28%); }
.shade-text span.sedes span.word.t43 { color: hsl(0, 0%, 32%); }
.shade-text span.sedes span.word.t44 { color: hsl(0, 0%, 36%); }
.shade-text span.sedes span.word.t45 { color: hsl(0, 0%, 40%); }
.shade-text span.sedes span.word.t46 { color: hsl(0, 0%, 43%); }
.shade-text span.sedes span.word.t47 { color: hsl(0, 0%, 46%); }
.shade-text span.sedes span.word.t48 { color: hsl(0, 0%, 48%); }
.shade-text span.sedes span.word.t49 { color: hsl(0, 0%, 51%); }
.shade-text span.sedes span.word.t50 { color: hsl(0, 0%, 53%); }
.shade-text span.sedes span.word.t51 { color: hsl(0, 0%, 55%); }
.shade-text span.sedes span.word.t52 { color: hsl(0, 0%, 58%); }
.shade-text span.sedes span.word.t53 { color: hsl(0, 0%, 60%); }
.shade-text span.sedes span.word.t54 { color: hsl(0, 0%, 61%); }
.shade-text span.sedes span.word.t55 { color: hsl(0, 0%, 63%); }
.shade-text span.sedes span.word.t56 { color: hsl(0, 0%, 65%); }
.shade-text span.sedes span.word.t57 { color: hsl(0, 0%, 67%); }
.shade-text span.sedes span.word.t58 { color: hsl(0, 0%, 69%); }
.shade-text span.sedes span.word.t59 { color: hsl(0, 0%, 70%); }
.shade-text span.sedes span.word.t60 { color: hsl(0, 0%, 72%); }
.shade-text span.sedes span.word.t61 { color: hsl(0, 0%, 73%); }
.shade-text span.sedes span.word.t62 { color: hsl(0, 0%, 75%); }
.shade-text span.sedes span.word.t63 { color: hsl(0, 0%, 76%); }
.shade-text span.sedes span.word.t64 { color: hsl(0, 0%, 78%); }
.shade-text span.sedes span.word.t65 { color: hsl(0, 0%, 79%); }
.shade-text span.sedes span.word.t66 { color: hsl(0, 0%, 80%); }
.shade-text span.sedes span.word.t67 { color: hsl(0, 0%, 82%); }
.shade-text span.sedes span.word.t68 { color: hsl(0, 0%, 83%); }
.shade-text span.sedes span.word.t69 { color: hsl(0, 0%, 84%); }
.shade-text span.sedes span.word.t70 { color: hsl(0, 0%, 85%); }
.shade-text span.sedes span.word.t71 { color: hsl(0, 0%, 87%); }
.shade-text span.sedes span.word.t72 { color: hsl(0, 0%, 88%); }
.shade-text span.sedes span.word.t73 { color: hsl(0, 0%, 89%); }
.shade-text span.sedes span.word.t74 { color: hsl(0, 0%, 90%); }
.shade-text span.sedes span.word.t75 { color: hsl(0, 0%, 91%); }
.shade-text span.sedes span.word.t76 { color: hsl(0, 0%, 92%); }
.shade-text span.sedes span.word.t77 { color: hsl(0, 0%, 94%); }
.shade-text span.sedes span.word.t78 { color: hsl(0, 0%, 95%); }
.shade-text span.sedes span.word.t79 { color: hsl(0, 0%, 96%); }
.shade-text span.sedes span.word.t80 { color: hsl(0, 0%, 97%); }
.shade-text span.sedes span.word.t81 { color: hsl(0, 0%, 98%); }
.shade-text span.sedes span.word.t82 { color: hsl(0, 0%, 99%); }
.shade-text span.sedes span.word.t83 { color: hsl(0, 0%, 100%); }
.shade-text span.sedes span.word.tunknown { color: firebrick; }

.shade-bubbles span.word {
	--r: 2.5rem; /* radius of 100% circle */
	position: relative;
}
.shade-bubbles span.word::before {
	background-color: magenta; /* highlight any missing background-colors */
}
.shade-bubbles span.sedes span.word.t39::before { background-color: hsl(0, 0%, 0%); }
.shade-bubbles span.sedes span.word.t40::before { background-color: hsl(0, 0%, 14%); }
.shade-bubbles span.sedes span.word.t41::before { background-color: hsl(0, 0%, 22%); }
.shade-bubbles span.sedes span.word.t42::before { background-color: hsl(0, 0%, 28%); }
.shade-bubbles span.sedes span.word.t43::before { background-color: hsl(0, 0%, 32%); }
.shade-bubbles span.sedes span.word.t44::before { background-color: hsl(0, 0%, 36%); }
.shade-bubbles span.sedes span.word.t45::before { background-color: hsl(0, 0%, 40%); }
.shade-bubbles span.sedes span.word.t46::before { background-color: hsl(0, 0%, 43%); }
.shade-bubbles span.sedes span.word.t47::before { background-color: hsl(0, 0%, 46%); }
.shade-bubbles span.sedes span.word.t48::before { background-color: hsl(0, 0%, 48%); }
.shade-bubbles span.sedes span.word.t49::before { background-color: hsl(0, 0%, 51%); }
.shade-bubbles span.sedes span.word.t50::before { background-color: hsl(0, 0%, 53%); }
.shade-bubbles span.sedes span.word.t51::before { background-color: hsl(0, 0%, 55%); }
.shade-bubbles span.sedes span.word.t52::before { background-color: hsl(0, 0%, 58%); }
.shade-bubbles span.sedes span.word.t53::before { background-color: hsl(0, 0%, 60%); }
.shade-bubbles span.sedes span.word.t54::before { background-color: hsl(0, 0%, 61%); }
.shade-bubbles span.sedes span.word.t55::before { background-color: hsl(0, 0%, 63%); }
.shade-bubbles span.sedes span.word.t56::before { background-color: hsl(0, 0%, 65%); }
.shade-bubbles span.sedes span.word.t57::before { background-color: hsl(0, 0%, 67%); }
.shade-bubbles span.sedes span.word.t58::before { background-color: hsl(0, 0%, 69%); }
.shade-bubbles span.sedes span.word.t59::before { background-color: hsl(0, 0%, 70%); }
.shade-bubbles span.sedes span.word.t60::before { background-color: hsl(0, 0%, 72%); }
.shade-bubbles span.sedes span.word.t61::before { background-color: hsl(0, 0%, 73%); }
.shade-bubbles span.sedes span.word.t62::before { background-color: hsl(0, 0%, 75%); }
.shade-bubbles span.sedes span.word.t63::before { background-color: hsl(0, 0%, 76%); }
.shade-bubbles span.sedes span.word.t64::before { background-color: hsl(0, 0%, 78%); }
.shade-bubbles span.sedes span.word.t65::before { background-color: hsl(0, 0%, 79%); }
.shade-bubbles span.sedes span.word.t66::before { background-color: hsl(0, 0%, 80%); }
.shade-bubbles span.sedes span.word.t67::before { background-color: hsl(0, 0%, 82%); }
.shade-bubbles span.sedes span.word.t68::before { background-color: hsl(0, 0%, 83%); }
.shade-bubbles span.sedes span.word.t69::before { background-color: hsl(0, 0%, 84%); }
.shade-bubbles span.sedes span.word.t70::before { background-color: hsl(0, 0%, 85%); }
.shade-bubbles span.sedes span.word.t71::before { background-color: hsl(0, 0%, 87%); }
.shade-bubbles span.sedes span.word.t72::before { background-color: hsl(0, 0%, 88%); }
.shade-bubbles span.sedes span.word.t73::before { background-color: hsl(0, 0%, 89%); }
.shade-bubbles span.sedes span.word.t74::before { background-color: hsl(0, 0%, 90%); }
.shade-bubbles span.sedes span.word.t75::before { background-color: hsl(0, 0%, 91%); }
.shade-bubbles span.sedes span.word.t76::before { background-color: hsl(0, 0%, 92%); }
.shade-bubbles span.sedes span.word.t77::before { background-color: hsl(0, 0%, 94%); }
.shade-bubbles span.sedes span.word.t78::before { background-color: hsl(0, 0%, 95%); }
.shade-bubbles span.sedes span.word.t79::before { background-color: hsl(0, 0%, 96%); }
.shade-bubbles span.sedes span.word.t80::before { background-color: hsl(0, 0%, 97%); }
.shade-bubbles span.sedes span.word.t81::before { background-color: hsl(0, 0%, 98%); }
.shade-bubbles span.sedes span.word.t82::before { background-color: hsl(0, 0%, 99%); }
.shade-bubbles span.sedes span.word.t83::before { background-color: hsl(0, 0%, 100%); }
.shade-bubbles span.sedes span.word.tunknown::before { background-color: firebrick; }
.shade-bubbles span.word::before {
	--s: 1.5rem;
	position: absolute;
	opacity: 0.5;
	border-radius: 50%;
	z-index: -1;
	content: "";
	width: var(--s);
	height: var(--s);
	bottom: calc(var(--s) / -2 + 1ex);
	left: calc(var(--s) / -2 + 0.5rem);
}

.size-bubbles span.word {
	--r: 2.5rem; /* radius of 100% circle */
	position: relative;
}
.size-bubbles span.word::before {
	background-color: magenta; /* highlight any missing background-colors */
}
.size-bubbles span.sedes span.word.t39::before { --s: calc(var(--r) * 1.003); }
.size-bubbles span.sedes span.word.t40::before { --s: calc(var(--r) * 0.992); }
.size-bubbles span.sedes span.word.t41::before { --s: calc(var(--r) * 0.980); }
.size-bubbles span.sedes span.word.t42::before { --s: calc(var(--r) * 0.968); }
.size-bubbles span.sedes span.word.t43::before { --s: calc(var(--r) * 0.957); }
.size-bubbles span.sedes span.word.t44::before { --s: calc(var(--r) * 0.945); }
.size-bubbles span.sedes span.word.t45::before { --s: calc(var(--r) * 0.932); }
.size-bubbles span.sedes span.word.t46::before { --s: calc(var(--r) * 0.920); }
.size-bubbles span.sedes span.word.t47::before { --s: calc(var(--r) * 0.908); }
.size-bubbles span.sedes span.word.t48::before { --s: calc(var(--r) * 0.895); }
.size-bubbles span.sedes span.word.t49::before { --s: calc(var(--r) * 0.882); }
.size-bubbles span.sedes span.word.t50::before { --s: calc(var(--r) * 0.869); }
.size-bubbles span.sedes span.word.t51::before { --s: calc(var(--r) * 0.856); }
.size-bubbles span.sedes span.word.t52::before { --s: calc(var(--r) * 0.842); }
.size-bubbles span.sedes span.word.t53::before { --s: calc(var(--r) * 0.829); }
.size-bubbles span.sedes span.word.t54::before { --s: calc(var(--r) * 0.815); }
.size-bubbles span.sedes span.word.t55::before { --s: calc(var(--r) * 0.801); }
.size-bubbles span.sedes span.word.t56::before { --s: calc(var(--r) * 0.786); }
.size-bubbles span.sedes span.word.t57::before { --s: calc(var(--r) * 0.772); }
.size-bubbles span.sedes span.word.t58::before { --s: calc(var(--r) * 0.757); }
.size-bubbles span.sedes span.word.t59::before { --s: calc(var(--r) * 0.742); }
.size-bubbles span.sedes span.word.t60::before { --s: calc(var(--r) * 0.726); }
.size-bubbles span.sedes span.word.t61::before { --s: calc(var(--r) * 0.710); }
.size-bubbles span.sedes span.word.t62::before { --s: calc(var(--r) * 0.694); }
.size-bubbles span.sedes span.word.t63::before { --s: calc(var(--r) * 0.677); }
.size-bubbles span.sedes span.word.t64::before { --s: calc(var(--r) * 0.660); }
.size-bubbles span.sedes span.word.t65::before { --s: calc(var(--r) * 0.643); }
.size-bubbles span.sedes span.word.t66::before { --s: calc(var(--r) * 0.625); }
.size-bubbles span.sedes span.word.t67::before { --s: calc(var(--r) * 0.606); }
.size-bubbles span.sedes span.word.t68::before { --s: calc(var(--r) * 0.587); }
.size-bubbles span.sedes span.word.t69::before { --s: calc(var(--r) * 0.567); }
.size-bubbles span.sedes span.word.t70::before { --s: calc(var(--r) * 0.547); }
.size-bubbles span.sedes span.word.t71::before { --s: calc(var(--r) * 0.526); }
.size-bubbles span.sedes span.word.t72::before { --s: calc(var(--r) * 0.504); }
.size-bubbles span.sedes span.word.t73::before { --s: calc(var(--r) * 0.480); }
.size-bubbles span.sedes span.word.t74::before { --s: calc(var(--r) * 0.456); }
.size-bubbles span.sedes span.word.t75::before { --s: calc(var(--r) * 0.430); }
.size-bubbles span.sedes span.word.t76::before { --s: calc(var(--r) * 0.403); }
.size-bubbles span.sedes span.word.t77::before { --s: calc(var(--r) * 0.374); }
.size-bubbles span.sedes span.word.t78::before { --s: calc(var(--r) * 0.342); }
.size-bubbles span.sedes span.word.t79::before { --s: calc(var(--r) * 0.307); }
.size-bubbles span.sedes span.word.t80::before { --s: calc(var(--r) * 0.267); }
.size-bubbles span.sedes span.word.t81::before { --s: calc(var(--r) * 0.220); }
.size-bubbles span.sedes span.word.t82::before { --s: calc(var(--r) * 0.160); }
.size-bubbles span.sedes span.word.t83::before { --s: calc(var(--r) * 0.052); }
.size-bubbles span.sedes span.word.tunknown::before { --s: calc(var(--r) * 0.707); background-color: firebrick; }
.size-bubbles span.word::before {
	position: absolute;
	background-color: orange;
	opacity: 0.5;
	border-radius: 50%;
	z-index: -1;
	content: "";
	width: var(--s);
	height: var(--s);
	bottom: calc(var(--s) / -2 + 1ex);
	left: calc(var(--s) / -2 + 0.5rem);
}

.shade-background span.sedes .t39 { background-color: #FDE725AF; }
.shade-background span.sedes .t40 { background-color: #EFE51CAF; }
.shade-background span.sedes .t41 { background-color: #E0E318AF; }
.shade-background span.sedes .t42 { background-color: #D1E21BAF; }
.shade-background span.sedes .t43 { background-color: #C2DF23AF; }
.shade-background span.sedes .t44 { background-color: #B2DD2DAF; }
.shade-background span.sedes .t45 { background-color: #A3DA37AF; }
.shade-background span.sedes .t46 { background-color: #94D741AF; }
.shade-background span.sedes .t47 { background-color: #85D54AAF; }
.shade-background span.sedes .t48 { background-color: #77D153AF; }
.shade-background span.sedes .t49 { background-color: #69CD5BAF; }
.shade-background span.sedes .t50 { background-color: #5DC863AF; }
.shade-background span.sedes .t51 { background-color: #51C56AAF; }
.shade-background span.sedes .t52 { background-color: #45C06FAF; }
.shade-background span.sedes .t53 { background-color: #3BBB75AF; }
.shade-background span.sedes .t54 { background-color: #32B67AAF; }
.shade-background span.sedes .t55 { background-color: #2BB07FAF; }
.shade-background span.sedes .t56 { background-color: #25AB82AF; }
.shade-background span.sedes .t57 { background-color: #21A685AF; }
.shade-background span.sedes .t58 { background-color: #1FA188AF; }
.shade-background span.sedes .t59 { background-color: #1E9B8AAF; }
.shade-background span.sedes .t60 { background-color: #1F958BAF; }
.shade-background span.sedes .t61 { background-color: #21908CAF; }
.shade-background span.sedes .t62 { background-color: #228B8DAF; }
.shade-background span.sedes .t63 { background-color: #25858EAF; }
.shade-background span.sedes .t64 { background-color: #27808EAF; }
.shade-background span.sedes .t65 { background-color: #297A8EAF; }
.shade-background span.sedes .t66 { background-color: #2B758EAF; }
.shade-background span.sedes .t67 { background-color: #2D708EAF; }
.shade-background span.sedes .t68 { background-color: #306A8EAF; }
.shade-background span.sedes .t69 { background-color: #32648EAF; }
.shade-background span.sedes .t70 { background-color: #355E8DAF; }
.shade-background span.sedes .t71 { background-color: #38598CAF; }
.shade-background span.sedes .t72 { background-color: #3B528BAF; }
.shade-background span.sedes .t73 { background-color: #3E4C8AAF; }
.shade-background span.sedes .t74 { background-color: #404588AF; }
.shade-background span.sedes .t75 { background-color: #433E85AF; }
.shade-background span.sedes .t76 { background-color: #453881AF; }
.shade-background span.sedes .t77 { background-color: #46307EAF; }
.shade-background span.sedes .t78 { background-color: #482979AF; }
.shade-background span.sedes .t79 { background-color: #482173AF; }
.shade-background span.sedes .t80 { background-color: #481A6CAF; }
.shade-background span.sedes .t81 { background-color: #471264AF; }
.shade-background span.sedes .t82 { background-color: #460A5DAF; }
.shade-background span.sedes .t83 { background-color: #440154AF; }
.shade-background span.sedes span.word {
	padding: 0.1em;
}
.shade-background span.sedes {
	border: 2px solid lightgray;
}
